.Tab-frame{
    border: 1px solid black;
    width: 100%;
}

.String{
    margin: 5px 0 15px 0;
    height: 30px;
    border-bottom: solid;
    /*height: 10px;*/
}

.string-container{
    height: auto;
}
