#Tab-container{
    width: 70%;
    overflow: auto;
    white-space: nowrap;
}

.Tab-frame{
    border: 1px solid black;
    width: 100%;
    overflow: auto;
}

.String{
    margin: 5px 0 15px 0;
    height: 30px;
    border-bottom: solid;
    /*height: 10px;*/
}

.string-container{
    height: auto;
}

div.scrollmenu {
    background-color: #333;
    /*overflow: auto;*/
    white-space: nowrap;
    text-align: left;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

.Whole-tab {
    width: auto;
}
